.inner {
  background: no-repeat url(img/background.svg);
}

.wrapper {
  width: 89%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  margin-bottom: 55px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link {
  margin: 2px 0 0 39px;
  color: #f8eee4;
  font: 22px/26px 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  text-decoration: none;
  position: relative;
  transition: opacity .5s;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link:hover {
  opacity: .5;
}

.menu__link::after {
  display: none;
  content: "";
  width: 100%;
  height: 3px;
  background: #d4bea3;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
}

.menu__link:hover::after {
  opacity: 1;
}

.menu__link:hover::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #d4bea3;
  position: absolute;
  left: 0;
}

.logo {
  width: 146px;
  height: 55px;
  background: url('img/logo.svg');
  color: black;
  position: relative;
  left: 85px;
}

.main {
  width: 33%;
  padding-left: 85px;
}

.main__title {
  color: #f8eee4;
  font: bold 280px/371px 'pt_serifbold', arial, helvetica, sans-serif;
  margin: 0 0 10px 0;
  opacity: .5;
}

.main__subtitle {
  color: #f8eee4;
  font: bold 98px/130px 'pt_serifbold', arial, helvetica, sans-serif;
  position: absolute;
  left: 283px;
  top: 425px;
}

.main__text {
  color: #f8eee4;
  font: 22px/26px 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  margin: 0 0 37px 0;
  padding: 0 0 0 23px;
}

.main__button {
  color: #ffffff;
  font: 22px/26px 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  text-decoration: none;
  display: inline-block;
  background: #d4bea3;
  padding: 17px 87px;
  border-radius: 48px;
  position: relative;
  left: 26px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 445px;
  left: 115px;
}

.user__img {
  margin-right: 34px;
}

.user__img:last-child {
  margin-right: 0;
}
